@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');

body {
    background-color: white;
}

.visible {
    display:none
}

.content {
    position: fixed;
    min-height: calc(100vh - 10rem);
    display: grid;
    place-items: center;
}

.team-list {
    list-style: none;
    width:fit-content;
    padding-top: 50px;
    margin: auto;
}

.container {
    font-family: 'Ruda', sans-serif;
    display: flex;
    border-radius: 1rem;
    width: 650px;
}

.bayern-container {
    color: white;
    background: linear-gradient(rgba(255, 0, 0, 0.40), rgba(255, 0, 0, 0.40)), url("../images/AllianzArena.jpg");
    background-size: cover;
    box-shadow: rgba(198, 0, 0, 0.562) 0px 3px 8px;
}

.real-madrid-container {
    color: white;
    background: linear-gradient(#8d77abc3, #8d77abba), url("https://wallpapercave.com/wp/wp9213027.jpg");
    background-size: cover;
    box-shadow: rgba(205, 205, 205, 0.562) 0px 3px 8px;
}


.manchester-city-container {
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(137, 229, 255, 0.634), rgba(255, 255, 255, 0.4)), url("../images/Ethihad.jpeg");
    background-size: cover;
    box-shadow: rgba(57, 215, 255, 0.562) 0px 3px 8px;
}

.newcastle-container {
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.4)), url("../images/StJames.png");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.562) 0px 3px 8px;
}

.barcelona-container {
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(8, 0, 126, 0.3), rgba(255, 0, 0, 0.30)), url("../images/CampNou.jpg");
    background-size: cover;
    box-shadow: rgba(198, 0, 0, 0.562) 0px 3px 8px;
}

.roma-container {
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(123, 0, 0, 0.579), rgba(222, 67, 0, 0.571)), url("https://www.turismoroma.it/sites/default/files/Foto%20Pixabay%2012%20maggio%20Marco%20Pomella_0.jpg");
    background-size: cover;
    box-shadow: rgba(123, 0, 0, 0.579) 0px 3px 8px;
}

.betis-container {
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(17, 168, 12, 0.5), rgba(255, 255, 255, 0.571)), url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Estadio_Benito_Villamar%C3%ADn_2018001.jpg/800px-Estadio_Benito_Villamar%C3%ADn_2018001.jpg");
    background-size: cover;
    box-shadow: rgba(17, 168, 12, 0.5) 0px 3px 8px;
}


.titleCount {
    padding-bottom: 0.5rem;
}

.wrapper {
    padding-top: 0.5rem;
    display: flex;
    align-items: top;
  }

#club-logo {
    padding: 2px 4px;
    width: 47px;
    height: 40px;
}

.bayern-logo {
    background-color: red;
}

.madrid-logo {
    background-color: white;
}

.manchestercity-logo {
    background-color: white;
}

.newcastle-logo {
    background-color: white;
}

.barcelona-logo {
    background-color: darkblue;
}

.roma-logo {
    background-color: rgb(249, 164, 18);
}

.betis-logo {
    background-color: white;
}

#team-title {
    font-size: 1.75rem;
    width: fit-content;
    padding: 4px 0.5rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bayern-title{
    color: white;
    background-color: navy;
}

.madrid-title{
    color: white;
    background-color: #8d77ab;
}

.manchestercity-title{
    color: white;
    background-color: skyblue;
}

.newcastle-title{
    color: white;
    background-color: rgb(24, 24, 24);
}

.barcelona-title{
    color: white;
    background-color: rgb(114, 0, 0);
}

.roma-title{
    color: white;
    background-color: rgb(114, 0, 0);
}

.betis-title{
    color: white;
    background-color: #0BB363;
}

.club-legend {
    padding-left: 0.5rem;
}

.last-legend {
    padding-bottom: 1rem;
}

p {
    font-size: 0.92rem;
    margin: 0;

}

.honors-facts {
    margin: 0;
    border-radius: 0rem 1rem 1rem 0rem;
    text-align: center;
}

.bayern-honors{
    background-image: url("../images/BayernDesign.png");
    background-size: cover;
    border-left: 3px navy solid;
}

.madrid-honors {
    background-image: url("../images/MadridDesign.png");
    background-size: cover;
    border-left: 3px rgb(255, 255, 255) solid;
}

.manchestercity-honors {
    background-image: url("../images/ManCityDesigns.png");
    background-size: cover;
    border-left: 3px rgb(255, 255, 255) solid;
}

.newcastle-honors {
    background-image: url("../images/NewCastle.png");
    background-size: cover;
    border-left: 3px rgb(255, 255, 255) solid;
    color: red
}

.barcelona-honors {
    background-image: url("../images/FCBarcaDesign.png");
    background-size: cover;
    border-left: 3px darkblue solid;
}

.roma-honors {
    background-image: url("../images/RomaDesign.png");
    background-size: cover;
    border-left: 3px rgb(249, 164, 18) solid;
}

.betis-honors {
    background-image: url("../images/BetisDesign.png");
    background-size: cover;
    border-left: 3px #0BB363 solid;
    color: black;
}

.diamonds {
    margin: 0.5rem 0;
}


.col-4{
    display: flex;
    align-items: center;
    justify-content: center;
}


.box {
    inline-size: 200px;
    overflow-wrap: break-word;
    padding-bottom: 0.5rem;
}

.record {
    width: 20px;
    height: 20px;
}

.diamonds:nth-child(1) {
    padding-top: 0.5rem;
}

#country {
    padding: 3rem 0 0;
    width: 150px;
}

#spain {
    padding: 3rem 0 0;
    width: 170px;
}

.first-color {
    color: red;
}

.madrid-first-color {
    color: white;
}

.madrid-second-color {
    color: 
    #8d77ab;
}

.manchestercity-first-color {
    color: skyblue;
}

.manchestercity-second-color {
    color: white;
}

.newcastle-first-color {
    color: black;
}

.newcastle-second-color {
    color: white;
}

.barcelona-first-color {
    color: rgb(114, 0, 0);;
}

.barcelona-second-color {
    color: darkblue;

}

.roma-first-color {
    color: rgb(114, 0, 0);
}

.roma-second-color {
    color: rgb(249, 164, 18);
}

.betis-first-color {
    color: #0BB363(114, 0, 0);
}

.betis-second-color {
    color: white;
}




.btn-wrapper {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 1rem;
    background-color: transparent;
    border-color: transparent;
    font-size: x-large;
    color: darkblue;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity:0.75; 
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0400e6,
     0 0 40px #0036e6, 0 0 50px #0008e6, 0 0 60px #0008e6, 0 0 70px #0017e6;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }