@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');

body {
    background-color: #EB1D36;
}

.visible {
    display:none
}

ul {
    list-style: none;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    font-family: 'Ruda', sans-serif;
    display: flex;
    border-radius: 1rem;
    width: 650px;
}

.bayern-container {
    color: white;
    background: linear-gradient(rgba(255, 0, 0, 0.40), rgba(255, 0, 0, 0.40)), url("../images/AllianzArena.jpg");
    background-size: cover;
    box-shadow: rgba(198, 0, 0, 0.562) 0px 3px 8px;
}

.real-madrid-container {
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("https://wallpapercave.com/wp/wp9213027.jpg");
    background-size: cover;
    box-shadow: rgba(205, 205, 205, 0.562) 0px 3px 8px;
}


.titleCount {
    padding-bottom: 0.5rem;
}

.wrapper {
    padding-top: 0.5rem;
    display: flex;
    align-items: top;
  }

#club-logo {
    padding: 2px 4px;
    width: 47px;
    height: 40px;
}

.bayern-logo {
    background-color: red;
}

.madrid-logo {
    background-color: white;
}

#team-title {
    font-size: 1.75rem;
    width: fit-content;
    padding: 4px 0.5rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bayern-title{
    color: white;
    background-color: navy;
}

.madrid-title{
    color: white;
    background-color: #8d77ab;
}

.club-legend {
    padding-left: 0.5rem;
}

.last-legend {
    padding-bottom: 1rem;
}

p {
    font-size: 0.92rem;
    margin: 0;

}

.honors-facts {
    margin: 0;
    border-radius: 0rem 1rem 1rem 0rem;
    text-align: center;
}

.bayern-honors{
    background-image: url("../images/BayernDesign.png");
    background-size: cover;
    border-left: 3px navy solid;
}

.madrid-honors {
    background-image: url("../images/MadridDesign.png");
    background-size: cover;
    border-left: 3px rgb(255, 255, 255) solid;
}

.diamonds {
    margin: 0.5rem 0;
}


.col-4{
    display: flex;
    align-items: center;
    justify-content: center;
}


.box {
    inline-size: 200px;
    overflow-wrap: break-word;
    padding-bottom: 0.5rem;
}

.record {
    width: 20px;
    height: 20px;
}

.diamonds:nth-child(1) {
    padding-top: 0.5rem;
}

#country {
    padding: 3rem 0 0;
    width: 150px;
}

#spain {
    padding: 3rem 0 0;
    width: 170px;
}

.first-color {
    color: red;
}

.madrid-first-color {
    color: white;
}

.madrid-second-color {
    color: #8d77ab;
}

