@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 750px 750px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 750px 750px;

  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 750px 750px;

  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 750px 750px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 750px 750px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 750px 750px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 750px 750px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 750px 750px;
  }
}
.scrolling-image-container {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    text-align: center;
    background: url("BG_PL.png") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 12s infinite;
    -moz-animation: bg-scrolling-reverse 12s infinite;
    -o-animation: bg-scrolling-reverse 12s infinite;
    animation: bg-scrolling-reverse 12s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}


h1 {
    color: aliceblue;
    font-weight: bolder;
}

h3 {
    color: aliceblue;
    margin-bottom: 2rem;
}

.game {
    background-color: azure;
    height: 2.5rem;
    padding: 0.25rem;
    margin: 1rem;
    width: 90%;
    display: flex;
    font-size: large;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.game:hover {
    background-color: rgb(235, 203, 255);
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 12px;
}

.visit {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    gap: 12px;
}


.hashtag {
    margin-top: 2rem;
}

.row {
    align-items: center;
}

#main_title, #main_image {
    margin-top: 1rem;
}