@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 750px 750px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 750px 750px;

  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 750px 750px;

  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 750px 750px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 750px 750px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 750px 750px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 750px 750px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 750px 750px;
  }
}
.scrolling-image-container {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: fit-content;
    text-align: center;
    background: url("BG_PL.png") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 12s infinite;
    -moz-animation: bg-scrolling-reverse 12s infinite;
    -o-animation: bg-scrolling-reverse 12s infinite;
    animation: bg-scrolling-reverse 12s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}


h1 {
    color: aliceblue;
    font-weight: bolder;
}

#date {
  color: aliceblue;
  margin-bottom: 2rem;
}

.container a {
  text-decoration: none;
  color: #37003c;
  height: 2.5rem;
  padding: 0.25rem;
  margin: 1rem;
  width: 90%;
  background-color: azure;
  display: flex;
  font-size: large;

}


.container a:hover {
  background: linear-gradient(270deg,#ff2882,#963cff 45%);
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 25px white;
  border-color: rgb(183, 50, 255);
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  gap: 12px;
}

.visit {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  gap: 12px;
}


.hashtag {
  margin-top: 2rem;
  padding-bottom: 2rem;
  color: aliceblue;
}

.row {
  align-items: center;
}

#main_title, #main_image {
  margin-top: 1rem;
}