* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  list-style: none;
}

body {
  background-color: rgb(173, 173, 173);
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  background-color: rgb(43, 43, 43);
  width: fit-content;
  padding: 1.5rem;
  top: 0;
  border-radius: 0 0 12px 0;
  border-right: 3px rgb(31, 31, 31) solid;
  border-bottom: 3px rgb(31, 31, 31) solid;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

nav li a {
  font-size: x-large;
  color: rgb(247, 247, 247);
  -webkit-text-stroke: 1px rgb(43, 43, 43);
}

nav li a:hover {
  color: rgb(43, 43, 43);
  -webkit-text-stroke: 1px rgb(247, 247, 247);
  cursor: pointer;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(43, 43, 43);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto auto;
  border: 20px solid rgb(31, 31, 31);
  box-shadow: inset 0px 0px 10px rgb(114, 114, 114);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.second {
  position: absolute;
  height: 130px;
  width: 1px;
  background: rgb(214, 34, 34);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  animation: cycle 6s infinite linear;
  transform-origin: top;
}

.minute {
  position: absolute;
  height: 100px;
  width: 4px;
  background: rgb(34, 118, 214);
  left: calc(50% - 3px);
  top: 50%;
  border-radius: 120px;
  animation: cycle 60s infinite linear;
  transform-origin: top;
  border: 1px solid black;
}

.hour {
  position: absolute;
  height: 70px;
  width: 5px;
  background: rgb(34, 118, 214);
  left: calc(50% - 3.5px);
  top: 50%;
  border-radius: 5px;
  animation: cycle 3600s infinite linear;
  transform-origin: top;
  border: 1px solid black;
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 2px solid black;
}

@keyframes cycle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
