.child {
    margin: auto;
}

.card {
    transition: 1s;
}

.card:hover {
    transition: 1s;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    border: 1px solid #cccccc;
    background-color: white;
}

.row {
    padding-bottom: 1rem;
}

h1 {
    padding: 1rem 0 1rem 0;
    text-align: center;
}

h1 + p {
    padding: 0.5rem 0 1rem 0; 
}

main img {
    height: 150px;
}